# Python
__pycache__/
*.py[cod]
*.so
git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/nurlanek/core.git
git push -u origin main
# Virtual environments
venv/
.venv/

# Django specific
*.log
db.sqlite3
media/
staticfiles/

# IDE / OS
.vscode/
.idea/
.DS_Store

# User files (Kişisel dosyalar)
readme.txt
git.txt
sql_queries.txt
tekst.txt

# Migrations (İstersen kaldır)
**/migrations/*.py
!**/migrations/__init__.py
