# Python
__pycache__/
*.py[cod]
*.so
# Virtual environments
venv/
.venv/

# Django specific
*.log
db.sqlite3
media/
staticfiles/
.env
__pycache__/

# IDE / OS
.vscode/
.idea/
.DS_Store

# User files (Kişisel dosyalar)
git.txt
sql_queries.txt
tekst.txt

# Migrations (İstersen kaldır)
**/migrations/*.py
!**/migrations/__init__.py
