{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-5">

      <div class="card shadow-sm p-4">

        <h3 class="mb-3 text-center">{% trans "Create Company" %}</h3>

        <form id="companyForm">

            <label class="form-label">{% trans "Company name" %}</label>
            <input class="form-control mb-3" id="name" placeholder="Company name" required>

            <label class="form-label">{% trans "Base currency" %}</label>
            <select class="form-select mb-4" id="currency"></select>

            <button class="btn btn-primary w-100">{% trans "Create" %}</button>

        </form>

        <div id="msg" class="mt-3 text-center"></div>

      </div>

    </div>
  </div>
</div>

<script>


document.addEventListener("DOMContentLoaded", () => {
    loadCurrenciesGlobal("currency"); // "currency" бул селекттин ID-си
});

async function loadCurrencies(){
    console.log("Loading currencies...");

    const token = localStorage.getItem("access");

    const res = await fetch("http://127.0.0.1:8001/api/v1/currencies/", {
        headers: {
            "Authorization": "Bearer " + token
        }
    });

    console.log("Status:", res.status);

    const data = await res.json();
    console.log("Currencies:", data);

    const sel = document.getElementById("currency");

    if(!sel){
        console.error("currency select not found");
        return;
    }

    sel.innerHTML = "";

    data.forEach(c => {
        const opt = document.createElement("option");
        opt.value = c.id;
        opt.textContent = c.code + " - " + c.name;
        sel.appendChild(opt);
    });
}

document.getElementById("companyForm").onsubmit = async function(e){
    e.preventDefault();

    const name = document.getElementById("name").value;
    const currency = document.getElementById("currency").value;
    const token = localStorage.getItem("access");

    const res = await fetch("http://127.0.0.1:8001/api/v1/companies/create/", {
        method: "POST",
        headers: {
            "Content-Type": "application/json",
            "Authorization": "Bearer " + token
        },
        body: JSON.stringify({
            name: name,
            base_currency: currency
        })
    });

    const data = await res.json();

    if(res.ok){
        localStorage.setItem("company_id", data.id);
        window.location.href = "/dashboard/";
    }else{
        document.getElementById("msg").innerHTML =
            "<span class='text-danger'>" + JSON.stringify(data) + "</span>";
    }
}
</script>


{% endblock %}
